In [1]:
import pandas as pd

In [48]:
batman_vol = pd.read_csv('data/batman_vol1.csv')

In [49]:
batman_vol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   716 non-null    int64
 1   aliases                      0 non-null      float64
 2   api_detail_url               716 non-null    object
 3   associated_images            716 non-null    object
 4   character_credits            716 non-null    object
 5   character_died_in            716 non-null    object
 6   concept_credits              716 non-null    object
 7   cover_date                   716 non-null    object
 8   date_added                   716 non-null    object
 9   date_last_updated            716 non-null    object
 10  deck                         6 non-null      object
 11  description                  692 non-null    object
 12  first_appearance_characters  0 non-null      float64
 13  first_appearance_concepts    0 non-null      float64
 14  first_appearance_locations   0 non-null      float64
 15  first_appearance_objects     0 non-null      float64
 16  first_appearance_storyarcs   0 non-null      float64
 17  first_appearance_teams       0 non-null      float64
 18  has_staff_review             716 non-null    object
 19  id                           716 non-null    int64
 20  image                        716 non-null    object
 21  issue_number                 716 non-null    object
 22  location_credits             716 non-null    object
 23  name                         716 non-null    object
 24  object_credits               716 non-null    object
 25  person_credits               716 non-null    object
 26  site_detail_url              716 non-null    object
 27  store_date                   241 non-null    object
 28  story_arc_credits            716 non-null    object
 29  team_credits                 716 non-null    object
 30  team_disbanded_in            716 non-null    object
 31  volume                       716 non-null    object
dtypes: float64(7), int64(2), object(23)
memory usage: 179.1+ KB

In [50]:
batman_vol.drop(["aliases"], axis=1, inplace=True)
batman_vol.drop(["deck"], axis=1, inplace=True)
batman_vol.drop(["first_appearance_characters"], axis=1, inplace=True)
batman_vol.drop(["first_appearance_concepts"], axis=1, inplace=True)
batman_vol.drop(["first_appearance_locations"], axis=1, inplace=True)
batman_vol.drop(["first_appearance_objects"], axis=1, inplace=True)
batman_vol.drop(["first_appearance_storyarcs"], axis=1, inplace=True)
batman_vol.drop(["first_appearance_teams"], axis=1, inplace=True)
batman_vol.drop(["store_date"], axis=1, inplace=True)

In [56]:
batman_vol.rename({"Unnamed: 0":"index"}, axis=1, inplace=True)

In [60]:
batman_vol.fillna(0, inplace=True)

In [61]:
batman_vol.info()

<class 'pandas.core.frame.DataFrame'>
Index: 716 entries, 0 to 715
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              716 non-null    int64
 1   api_detail_url     716 non-null    object
 2   associated_images  716 non-null    object
 3   character_credits  716 non-null    object
 4   character_died_in  716 non-null    object
 5   concept_credits    716 non-null    object
 6   cover_date         716 non-null    object
 7   date_added         716 non-null    object
 8   date_last_updated  716 non-null    object
 9   description        716 non-null    object
 10  has_staff_review   716 non-null    object
 11  id                 716 non-null    int64
 12  image              716 non-null    object
 13  issue_number       716 non-null    object
 14  location_credits   716 non-null    object
 15  name               716 non-null    object
 16  object_credits     716 non-null    object
 17  person_credits     716 non-null    object
 18  site_detail_url    716 non-null    object
 19  story_arc_credits  716 non-null    object
 20  team_credits       716 non-null    object
 21  team_disbanded_in  716 non-null    object
 22  volume             716 non-null    object
dtypes: int64(2), object(21)
memory usage: 134.2+ KB

In [36]:
young_justice = pd.read_csv('data/young_justice.csv')

In [39]:
young_justice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   56 non-null     int64
 1   aliases                      0 non-null      float64
 2   api_detail_url               56 non-null     object
 3   associated_images            56 non-null     object
 4   character_credits            56 non-null     object
 5   character_died_in            56 non-null     object
 6   concept_credits              56 non-null     object
 7   cover_date                   56 non-null     object
 8   date_added                   56 non-null     object
 9   date_last_updated            56 non-null     object
 10  deck                         0 non-null      float64
 11  description                  56 non-null     object
 12  first_appearance_characters  0 non-null      float64
 13  first_appearance_concepts    0 non-null      float64
 14  first_appearance_locations   0 non-null      float64
 15  first_appearance_objects     0 non-null      float64
 16  first_appearance_storyarcs   0 non-null      float64
 17  first_appearance_teams       0 non-null      float64
 18  has_staff_review             56 non-null     bool
 19  id                           56 non-null     int64
 20  image                        56 non-null     object
 21  issue_number                 56 non-null     int64
 22  location_credits             56 non-null     object
 23  name                         56 non-null     object
 24  object_credits               56 non-null     object
 25  person_credits               56 non-null     object
 26  site_detail_url              56 non-null     object
 27  store_date                   8 non-null      object
 28  story_arc_credits            56 non-null     object
 29  team_credits                 56 non-null     object
 30  team_disbanded_in            56 non-null     object
 31  volume                       56 non-null     object
dtypes: bool(1), float64(8), int64(3), object(20)
memory usage: 13.7+ KB

In [35]:
df.sort_values("issue_number")[["name","issue_number"]].head(10)

                                                  name issue_number
416                              Creature of the Night            0
536  The Legend of the Batman: Who He Is and How He...            1
544                          The Isle That Time Forgot           10
25                               [100th Batman Issue!]          100
465                     Peril Within The Prison Planet      1000000
26                            The Great Bat-Cape Hunt!          101
27                                The Caveman at Large          102
28                               Bat-Hound, Movie Star          103
29                       The Beast From 20,000 Fathoms          104
30                           The Challenge of Batwoman          105