In [1]:
import pandas as pd
import numpy as np

In [29]:
batman_vol1 = pd.read_csv("data/batman_vol1.csv")
batman_vol2 = pd.read_csv("data/batman_vol2.csv")
batman_vol3 = pd.read_csv("data/batman_vol3.csv")

young_justice = pd.read_csv("data/young_justice.csv")
we_are_robin = pd.read_csv("data/we_are_robin.csv")
gotham_academy = pd.read_csv("data/gotham_academy.csv")
super_sons = pd.read_csv("data/super_sons.csv")
red_robin = pd.read_csv("data/red_robin.csv")
robin1993_2009 = pd.read_csv("data/robin1993_2009.csv")

marvel_comics = pd.read_csv("data/marvel_comics.csv")

In [27]:
batman_all = pd.concat([batman_vol1, batman_vol2, batman_vol3, robin1993_2009, red_robin], ignore_index=True)

In [21]:
combined = pd.concat([we_are_robin, gotham_academy, young_justice, super_sons], ignore_index=True)

In [30]:
marvel_comics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34992 entries, 0 to 34991
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   comic_name         34992 non-null  object
 1   active_years       34992 non-null  object
 2   issue_title        34466 non-null  object
 3   publish_date       34466 non-null  object
 4   issue_description  30395 non-null  object
 5   penciler           25482 non-null  object
 6   writer             27595 non-null  object
 7   cover_artist       12255 non-null  object
 8   Imprint            11684 non-null  object
 9   Format             32894 non-null  object
 10  Rating             12619 non-null  object
 11  Price              32894 non-null  object
dtypes: object(12)
memory usage: 3.2+ MB

In [28]:
batman_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132 entries, 0 to 1131
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   1132 non-null   int64
 1   aliases                      0 non-null      float64
 2   api_detail_url               1132 non-null   object
 3   associated_images            1132 non-null   object
 4   character_credits            1132 non-null   object
 5   character_died_in            1132 non-null   object
 6   concept_credits              1132 non-null   object
 7   cover_date                   1132 non-null   object
 8   date_added                   1132 non-null   object
 9   date_last_updated            1132 non-null   object
 10  deck                         84 non-null     object
 11  description                  1106 non-null   object
 12  first_appearance_characters  0 non-null      float64
 13  first_appearance_concepts    0 non-null      float64
 14  first_appearance_locations   0 non-null      float64
 15  first_appearance_objects     0 non-null      float64
 16  first_appearance_storyarcs   0 non-null      float64
 17  first_appearance_teams       0 non-null      float64
 18  has_staff_review             1132 non-null   object
 19  id                           1132 non-null   int64
 20  image                        1132 non-null   object
 21  issue_number                 1132 non-null   object
 22  location_credits             1132 non-null   object
 23  name                         1131 non-null   object
 24  object_credits               1132 non-null   object
 25  person_credits               1132 non-null   object
 26  site_detail_url              1132 non-null   object
 27  store_date                   567 non-null    object
 28  story_arc_credits            1132 non-null   object
 29  team_credits                 1132 non-null   object
 30  team_disbanded_in            1132 non-null   object
 31  volume                       1132 non-null   object
dtypes: float64(7), int64(2), object(23)
memory usage: 283.1+ KB

In [22]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   102 non-null    int64
 1   aliases                      0 non-null      float64
 2   api_detail_url               102 non-null    object
 3   associated_images            102 non-null    object
 4   character_credits            102 non-null    object
 5   character_died_in            102 non-null    object
 6   concept_credits              102 non-null    object
 7   cover_date                   102 non-null    object
 8   date_added                   102 non-null    object
 9   date_last_updated            102 non-null    object
 10  deck                         1 non-null      object
 11  description                  102 non-null    object
 12  first_appearance_characters  0 non-null      float64
 13  first_appearance_concepts    0 non-null      float64
 14  first_appearance_locations   0 non-null      float64
 15  first_appearance_objects     0 non-null      float64
 16  first_appearance_storyarcs   0 non-null      float64
 17  first_appearance_teams       0 non-null      float64
 18  has_staff_review             102 non-null    object
 19  id                           102 non-null    int64
 20  image                        102 non-null    object
 21  issue_number                 102 non-null    int64
 22  location_credits             102 non-null    object
 23  name                         100 non-null    object
 24  object_credits               102 non-null    object
 25  person_credits               102 non-null    object
 26  site_detail_url              102 non-null    object
 27  store_date                   54 non-null     object
 28  story_arc_credits            102 non-null    object
 29  team_credits                 102 non-null    object
 30  team_disbanded_in            102 non-null    object
 31  volume                       102 non-null    object
dtypes: float64(7), int64(3), object(22)
memory usage: 25.6+ KB